*
{
    margin: 0%;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
body {
background: rgb(139, 215, 248);
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;

}
.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: #f2f5f6;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.container .left_side {
    position: relative;
    background: rgb(31, 164, 209); 
    padding: 40px;
}
.container .right_side {
    position: relative;
    background: #f2f5f6;
    padding: 40px;
}
.profiletext {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.profiletext .imgBx {
    position: relative;
    width:200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profiletext .imgBx img {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profiletext h1 {
    color: #070707;
    font-size: 1.5em ;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profiletext h2 span {
    font-size: 0.8em;
    font-weight: 300;
}
.Contactinfo {
    padding-top: 40px;
}
.title {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.container .right_side {
    position: relative;
    padding: 40px;

}
.about {
    margin-bottom: 50px;

}
.title2 {
    text-transform: uppercase;
    color: deepskyblue;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.title3 {
    text-transform: uppercase;
    color: deepskyblue;
    letter-spacing: 1px;
    margin-bottom: 10px;
    
}
.title4 {
    text-transform: uppercase;
    color: deepskyblue;
    letter-spacing: 1px;
    margin-bottom: 10px;


}
.title5 {
    text-transform: uppercase;
    color: deepskyblue;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
    



